div(class='container')
  div(class='row')
    div(class='col-12 my-3')
      div(class='btn-group_primary btn-group_small mr-5 mb-3' type='group')
        button(type=button class='button') Text 1
        button(type=button class='button selected') Text 2
      div(class='btn-group_primary btn-group_small mr-5 mb-3' type='group')
        button(type=button class='button') Text 3
        button(type=button class='button selected') Text 4
        button(type=button class='button') Text 5
      div(class='btn-group_primary btn-group_small mr-5 mb-3' type='group')
        button(type=button class='button') Text 6
        button(type=button class='button') Text 7
        button(type=button class='button selected')
          svg
            use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Mail")
          span Text 8
        button(type=button class='button') Text 9
    div(class='col-12 my-3')
      div(class='btn-group_success mr-5 mb-3' type='group')
        button(type=button class='button selected') Text 1
        button(type=button class='button') Text 2
      div(class='btn-group_success mr-5 mb-3' type='group')
        button(type=button class='button')
          span Text 3
          svg
            use(xlink:href="assets/svg/social-sprite/social-sprite.svg#Facebook")
        button(type=button class='button')
          span Text 4
          svg
            use(xlink:href="assets/svg/social-sprite/social-sprite.svg#Apple")
        button(type=button class='button selected')
          span Text 5
          svg
            use(xlink:href="assets/svg/social-sprite/social-sprite.svg#Instagram")
      div(class='btn-group_warning mr-5 mb-3' type='group')
        button(type=button class='button') Text 6
        button(type=button class='button selected') Text 7
        button(type=button class='button')
          span Text 8
          svg
            use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Key")
        button(type=button class='button_disabled') Text 9
    div(class='col-12 my-3')
      div(class='btn-group_large btn-group_danger mr-5 mb-3' type='group')
        button(type=button class='button selected')
          span Text 1
          svg
            use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Heart")
        button(type=button class='button') Text 2
      div(class='btn-group_large btn-group_primary mr-5 mb-3' type='group')
        button(type=button class='button_disabled') Text 3
        button(type=button class='button') Text 4
        button(type=button class='button selected') Text 5
      div(class='btn-group_colorfull btn-group_large mr-5 mb-3' type='group')
        button(type=button class='button') 
          svg
            use(xlink:href="assets/svg/social-sprite/social-sprite.svg#Twitter")
          span Twitter
        button(type=button class='button') 
          svg
            use(xlink:href="assets/svg/social-sprite/social-sprite.svg#Google")
          span Google
    div(class='col-12 my-3')
      div(class='btn-group_colorfull btn-group_large mr-5 mb-3' type='group')
        button(type=button class='button')
          span Play
          svg
            use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Play")
        button(type=button class='button') Text 2
        button(type=button class='button') Text 3
        button(type=button class='button')
          span Alert
          svg
            use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Alert")
        button(type=button class='button') Text 5
        button(type=button class='button') Text 6
        button(type=button class='button') Text 7
        button(type=button class='button') Text 8
        button(type=button class='button') Text 9
    div(class='col-12 my-3')
      div(class='btn-group mr-5 mb-3' type='group')
        button(type=button class='button_primary')
          svg
            use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Card")
        button(type=button class='button_outline')
          svg
            use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Cart")
        button(type=button class='button_disabled')
          svg
            use(xlink:href="assets/svg/base-sprite/base-sprite.svg#House")
        button(type=button class='button_danger')
          svg
            use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Inbox") 
        button(type=button class='button_disabled')
          svg
            use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Dot") 
        button(type=button class='button_warning')
          svg
            use(xlink:href="assets/svg/base-sprite/base-sprite.svg#Warning")         

    
    
     
