div(class='btn-group_primary mr-5 mb-3' type='group' data-toggle='multiple')
  button(type=button class='button') Text 1
  button(type=button class='button') Text 2
  button(type=button class='button') Text 3
  button(type=button class='button') Text 4
  button(type=button class='button') Text 5
div(class='btn-group_success mr-5 mb-3' type='group' data-toggle='select')
  button(type=button class='button') Text 1
  button(type=button class='button') Text 2
  button(type=button class='button') Text 3
  button(type=button class='button') Text 4
  button(type=button class='button') Text 5 
